<?xml version="1.0"?>
<config>
    <modules>
        <Webpagefx_Customerattribute>
            <version>1.1.1</version>
        </Webpagefx_Customerattribute>
    </modules>
    <global>
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>Webpagefx_Customerattribute</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
				<connection>
					<use>core_setup</use>
				</connection>
             </customerattribute_setup>
                          
			<customerattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute_write>
            
            <customerattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
			<observers>
				<customerattribute>
					<type>model</type>
					<class>Webpagefx_Customerattribute_Model_Observer</class>
					<method>appendCustomColumn</method>
				</customerattribute>
			</observers>
            </core_block_abstract_prepare_layout_before>
            <eav_collection_abstract_load_before>
            <observers>
                <customerattribute>
                    <class>Webpagefx_Customerattribute_Model_Observer</class>
                    <method>beforeCollectionLoad</method>
                </customerattribute>
            </observers>
        </eav_collection_abstract_load_before>
        <adminhtml_customer_prepare_save>
			<observers>
				<customerattribute>					
					<class>Webpagefx_Customerattribute_Model_Observer</class>
					<method>checkAttribute</method>
				</customerattribute>
			</observers>
        </adminhtml_customer_prepare_save>
        </events>
    </adminhtml>
</config>
